# **Set In Python**

- Sets are unordered collections of unique elements.
- Sets are mutable, meaning you can add or remove elements after the set has been created.
- Sets do not allow duplicate elements.
- Sets support mathematical operations like union, intersection, difference, and symmetric difference.
- Sets are defined using curly braces `{}` or the `set()` function.

There is also a point to remember that we can only store data types which are immutable in Sets 

You may confused by looking at the points above sets are mutable but the values which are present in sets are immutable :) .

In [3]:
#Lets try to create some sets and see what we can do with them

myset = {1,2,3,4,5,6,7,8,9,10}

print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [4]:
#we can also print the type of the set

print(type(myset))

<class 'set'>

In [6]:
#now lets try to add a string in the set

myset.add("suresh")

print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'suresh'}

In [9]:
#now lets try to add some boolean values in the set

myset.add("True")

print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'suresh', 'True'}

In [10]:
#Now lets try to add float values in the set

myset.add(8.8)

print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 8.8, 'suresh', 'True'}

In [11]:
#Now also try to add tuples in the set

myset.add((1,2,3))

print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 8.8, (1, 2, 3), 'suresh', 'True'}

In [12]:
#lets check that can we add list in the set

myset.add([99,00,88])

print(myset)

TypeError: unhashable type: 'list'

we got above an 'error'

In [13]:
#lets try to add values called dictionary in the set

myset.add({"name":"suresh","age":25})

print(myset)

TypeError: unhashable type: 'dict'

- Now we concluded that we can only add immutable data types into the set but not mutable type of data in set

In [20]:
#now lets try to add duplicate values in the set


myset2 = {1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10}

print(myset2)

#now we try to check the length of the set

print(len(myset2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
10

- It ignored the error and also the duplicate values in the set.
- Also ignored while counting it.

In [22]:
#we can also create some empty set

collection = set()

print(type(collection))

<class 'set'>

---

# Set Methods

- `**set.add()**`       add an element
- `**set.remove()**`    removes the element
- `**set.clear()**`      empties the set
- `**set.pop()**`        removes a random value

In [25]:
#We already tried to add values in the set now lets try to remove values from the set

myset.remove("suresh")

print(myset)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 8.8, (1, 2, 3), 'True'}

In [26]:
#we can also try to use remove for integer values

myset.remove(8)

print(myset)

{2, 3, 4, 5, 6, 7, 9, 10, 8.8, (1, 2, 3), 'True'}

In [28]:
#Now lets try to remove the values which are not present in the set

myset.remove(143)

print(myset)

KeyError: 143

- We got an error because there is no value 143 present in the set

---

`Lets try Clear Method in Set`

In [29]:
print(len(myset))

10

In [40]:
myset.clear()

print(len(myset))


#by this method we can clear the set

0

---

`Now Lets try to use pop method in Set`

In [42]:
print(myset2)

{8, 9, 10}

In [43]:
# when we try to use pop method it will remove the random values from the set


myset2.pop()

print(myset2)

myset2.pop()

{9, 10}

9

We can see that it randomly removed 1 from the set

---

`There are also some Important Methods used in Set`

- `set.union(set2)` combines both set values and returns new
- `set.intersection(set2)` combines common values & returns new

In [44]:
#To Understand the union method we need to create two sets

set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {8,9,10,11,12,13,14,15}

#Here we can see that  number 8,9,10 are common in both the sets 
#when we try to use union method it will only return unique values from both the sets

#`Lets try to use union method`


print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [ ]:

#we can see that only unique values are returned from both the sets

`Lets try now intersection method in set with above sample sets `

In [46]:
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [47]:

print(set2)

{8, 9, 10, 11, 12, 13, 14, 15}

In [48]:
#now lets try to use intersection method

print(set1.intersection(set2))

{8, 9, 10}

- It will combine the two sets and return only the common values